{
    "env": {
        "test": {
            "plugins": [[
                "transform-object-rest-spread"
            ]],
            "presets": [[
                "env", {
                    "modules": "commonjs",
                    "useBuiltIns": "usage",
                    "debug": false
                }
            ], [
                "react"
            ], [
                "jest"
            ]]
        },
        "development": {
            "plugins": [[
                "external-helpers"
            ], [
                "transform-object-rest-spread"
            ]]
        },
        "production": {
            "plugins": [[
                "external-helpers"
            ], [
                "transform-object-rest-spread"
            ]]
        }
    },
    "ignore": [
        "node_modules/**/*"
    ],
    "plugins": [],
    "presets": [[
        "env", {
            "modules": false,
            "targets": {
                "browsers": [ "last 2 versions" ]
            }
        }
    ], [
        "react"
    ]]
}
